<div class="episode-info episode-<%= episode.id %>">
	<div class="episode-details clearfix">
		<img class="episode-image" src="<%= episode.still_image_url %>">
		<h3><%= episode.name %></h3>
		<%= episode.episode_string %><br>
		Original Air Date: <%= format_date(episode.air_date) %><br>

		<ul class="actions">
			<% if !!current_user %>
				<li>
				<% viewed = viewed_by_current_user?(episode) ? "" : "hidden" %>

					<span class="watched-this <%= viewed %>">
						You've watched this episode <span class="view-count"><%= 4 %></span> time(s)
					</span>
					<a data-episode-id="<%= episode.id %>" 
						class="episode-button view-button episode-view-link <%= viewed %>"
						href="javascript:void(0);">
						Rewatch
					</a>
				</li>
			<% end %>
		</ul>
	</div>

	<p><%= episode.description %></p>
</div>