<div class="episode-info episode-<%= episode.id %>">
	<div class="episode-details clearfix">
	<!-- TODO: lazy loading for these images -->
		<img class="episode-image" src="<%= episode.still_image_url %>">
		<h3><%= episode.name %></h3>
		Original Air Date: <%= episode.air_date %>
	</div>

	<p><%= episode.description %></p>
</div>