<div class="episodes">
	<div class="season-tabs">
		<% (1..@seasons_count).each do |i| %>
			<a class="season-tab season-tab-<%= i %>" href="javascript:void(0);" data-season-number=<%= i %>>
				Season <%= i %>
			</a>
		<% end %>
	</div>

	<ul id="all-seasons" data-default-season="<%= @default_season %>">
		<% seasons.each do |s| %>
			<li class="season-block season-<%= s.season_number %>">
				<h3>Season <%= s.season_number %></h3>
				<ul class="episodes-list">
					<% s.sorted_episodes.each do |episode| %>
						<li class="episode 
								<%= viewed_by_current_user?(episode) ? "viewed" : "" %>">
							<a data-episode-id="<%= episode.id %>" 
								class="<%= !!current_user ? "episode-view-link" : "" %>"
								href="javascript:void(0);">
								<%= episode.episode_string %> <%= episode.name %>
							</a>
							<%= render "episodes/episode_info", episode: episode %>
						</li>
					<% end %>
				</ul>
			</li>
		<% end %>
	</ul>
</div>