<div class="episodes clearfix">
	<div class="season-tabs">
		<% (1..@seasons_count).each do |i| %>
			<a class="season-tab season-tab-<%= i %>" href="javascript:void(0);" data-season-number=<%= i %>>
				Season <%= i %>
			</a>
		<% end %>
	</div>

	<ul id="all-seasons" data-default-season="<%= @default_season %>">
		<% seasons.each do |s| %>
			<li class="season-block season-<%= s.season_number %>">
				<h3>Season <%= s.season_number %></h3>
				<ul class="episodes-list">
					<% s.sorted_episodes.each do |episode| %>
						<li class="episode episode-<%= episode.id %>
								<%= viewed_by_current_user?(episode) ? "viewed" : "" %>">
							<span class="episode-name">
								<%= episode.episode_string %> <%= episode.name %>
							</span>
							<% if !!current_user %>
								<a data-episode-id="<%= episode.id %>" 
									class="episode-button view-button episode-view-link"
									href="javascript:void(0);">
									Watch
								</a>
							<% end %>
							<a class="info-button episode-button ep-num-<%= episode.episode_number %>" 
								data-episode-id="<%= episode.id %>"
								href="javascript:void(0);">
								Details
							</a>
						</li>
					<% end %>
				</ul>
			</li>
		<% end %>
	</ul>

	<ul id="highlighted-episode">
		<% seasons.each do |s| %>
			<% s.episodes.each do |episode| %>
				<%= render "episodes/episode_info", episode: episode %>
			<% end %>
		<% end %>
	</ul>

	<div class="modal hidden"></div>
	<div class="loading-modal hidden">
		<div class="loading-text">Loading...</div>
	</div>

</div>