<h1>Search Results</h1>

<% if @results.length > 0 %>
	<ul class="search-results-list clearfix">
		<% @results.each do |result| %>
			<li class="search-result">
				<% if result.poster_path || result.backdrop_path %>
					<a data-no-turbolink href="<%= find_shows_url(result.id) %>">
						<img src="<%= full_image_url(result) %>">
					</a>
				<% else %>
					<!-- Nothing here for now I guess -->
					<!-- <div class="no-search-image"></div> -->
				<% end %>

				<a data-no-turbolink class="show-link" href="<%= find_shows_url(result.id) %>">
					<%= result.original_name %>
				</a>
			</li>
		<% end %>
	</ul>

<% else %>
	No results for "<%= @query %>"
<% end %>