<div id="show" data-id="<%= @show.id %>">

	<div class="basic-info clearfix">
		<img class="show-image" src="<%= @show.full_image_url %>">
		<h1><%= @show.name %></h1>
		Release Date: <%= format_date(@show.release_date) %>
		<p><%= @show.description %></p>
	</div>

	<div id="show-episodes" class="<%= @show.need_to_fetch? ? 'need-to-fetch' : '' %>">
		<h2>
			Episodes
			<% if !!current_user %>
				<a href="javascript:void(0);" class="compare-with">
					Compare With...

					<ul class="followed-users">
						<% current_user.followed_users.each do |user| %>
							<li>
								<a href="javascript:void(0);" class="followed-user"><%= user.username %></a>
							</li>
						<% end %>
					</ul>
				</a>
			<% end %>
		</h2>
		<div class="divider"></div>
		<%= render "episodes", seasons: @seasons %>
	</div>

</div>

