<div id="show" data-id="<%= @show.id %>">

	<div class="basic-info clearfix">
		<img class="show-image" src="<%= @show.full_image_url %>">
		<h1><%= @show.name %></h1>
		Release Date: <%= format_date(@show.release_date) %>
		<p><%= @show.description %></p>
	</div>

	<div id="show-episodes" class="<%= @show.need_to_fetch? ? 'need-to-fetch' : '' %>">
		<h2>Episodes</h2>
		<div class="divider"></div>
		<%= render "episodes", seasons: @seasons %>
	</div>

</div>

