<!DOCTYPE html>
<html>
<head>
  <title>TV App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<header id="header-wrap">
	<nav id="nav">
		<a class="home-link" href="<%= root_url %>">Home</a>

		<ul class="navlist">
			<% if current_user %>
				<li class="navlist-item">
					<a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
				</li>
				<li class="navlist-item">
					<form action="<%= session_url %>" method="POST">
						<%= auth_token %>
						<input type="hidden" name="_method" value="DELETE">
						<input type="submit" value="Sign Out">
					</form>
				</li>
			<% else %>
				<li class="navlist-item">
					<a href="<%= new_user_url %>">Sign Up</a>
				</li>
				<li class="navlist-item">
					<a href="<%= new_session_url %>">Sign In</a>
				</li>
			<% end %>
		</ul>
	</nav>
</header>

<% if flash[:errors] %>
	<%= flash[:errors] %>
<% end %>

<div id="container">
	<%= yield %>
</div>

</body>
</html>
